@import '../../../variables.scss';

.article{
    width: 70%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .desc{
        font-size: $font-m;
    }
    img{
        width: 50vw;
        height: auto;
    }
}