.header {
    z-index: 1000;
  width: 100vw;
  height: 80px;
  padding: 0em 5em;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      li {
        text-decoration: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
