@import "../variables.scss";

.header {
  z-index: 100!important;
  position: relative;
  width: 100vw;
  height: 80px;
  padding: 0em 5em;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition: 300ms ease-in-out;
    li {
      text-decoration: none;
      color: white;
      font-size: $font-l;
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 35px;
          left: 0px;
          height: 3px;
          width: 0%;
          background-color: white;
          color: white;
          transition: 300ms ease-in-out;
        }
      }
    }
  }
  .burger {
    position: absolute;
    right: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    .line {
      margin-top: 10px;
      width: 45px;
      height: 3px;
      outline: none;
      background-color: white;
    }
  }
}

.active-link {
  a::before {
    width: 100% !important;
  }
}

@include media-m {
  .header {
    padding: 0;
    ul {
      position: absolute;
      transform: translateY(-500px);
      li{
        display: none;
      }
    
      &.active{
        transform: translateY(0px);
        padding: 2em;
        top: 0px;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 1);    
        li{
          display: block;
        }
      }
    }
    .burger {
      display: block;
      &.active{
        .line:nth-child(2){
          transform: scale(0);
          display: none;
        }
        .line:nth-child(1){
          transform:rotate(-50deg) translateX(-8px) translateY(-2px) ;
        }
        .line:nth-child(3){
          transform: rotate(-305deg) translateX(-8px) translateY(-2px);
        }
      }
    }
  }
}
