@import '../variables.scss';

.main{
    width: 100vw;
    h2{
        text-align: center;
    }

    .article{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            font-size: $font-xxl;
        }
    }

}

.first{
    padding-top: 50vh!important;
}

.second{
    padding-top: 65vh!important;
}
.third{
    padding-top: 70vh!important;
}


@include media-m{
    .main{
        .article{
            h2{
                font-size: $font-l;
            }
        }
    }
}