@import '../../../variables.scss';

.post{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 20px 0px;
    background-color: $dark-blue;
    color: white;
    padding: 2em;
    .posts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    p{
        font-weight: bolder;
        font-size: $font-m;

    }

    .left , .right-item{
        cursor: pointer;
    }
   
    .left{
        width: 37vw;
        display: flex;
        flex-direction: column;
    }

    .right{
        width: 35vw;
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
}
   
}


@include media-l{
    .post{
        .posts{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .left , .right {
                width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                img{
                    width: 100%!important;
                    aspect-ratio: auto!important;
                }
            }
            }
        }
    }
