.main{
    width: 100vw;
    h2{
        text-align: center;
        font-size: 80px;
    }

    .article{
        padding-top: 50vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            font-size: 60px;
        }
    }

}

.second{
    padding-top: 65vh!important;
}
.third{
    padding-top: 70vh!important;
}